/* Contact */
/*--/inner-banner--*/
.inner-banner {
    background: url(../images/banner2.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    position: relative;
    z-index: 0;
}

.inner-banner:before {
    content: "";
    background: var(--layer1);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.w3breadcrumb-gids {

    text-align: center;
}

.w3breadcrumb-right {
    text-align: center;
    padding-top: 1em;
}

h2.inner-w3-title {
    font-size: 46px;
    line-height: 48px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
}

.inner-banner p.inner-page-para {
    color: #fff;
    opacity: 0.6;
    font-weight: 600;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.breadcrumbs-custom-path {
    text-align: center;
    display: inline-block;
}

.breadcrumbs-custom-path li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}

.breadcrumbs-custom-path li span {
    font-size: 12px;
}

.breadcrumbs-custom-path a,
.breadcrumbs-custom-path a:active,
.breadcrumbs-custom-path a:focus {
    color: var(--secondary-color);
    opacity: 0.9;
}

.breadcrumbs-custom-path a:hover {
    color: var(--secondary-color);
}

.breadcrumbs-custom-path li.active {
    color: #fff;
}

p.abinfo-para {
    max-width: 600px;
    margin: 0 auto;
}

@media (max-width:992px) {
    .w3breadcrumb-gids {
display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    align-items: center;
    padding-top: 0em;
    }

    .w3breadcrumb-right {
        padding-top: 0em;
    }
}

@media (max-width:667px) {
    h2.inner-w3-title {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width:600px) {
    h2.inner-w3-title {
        font-size: 28px;
        line-height: 38px;
    }
}

.contacts-sub-5 iframe {
    width: 100%;
    height: 540px;
    display: block;
    -webkit-filter: var(--iframe-filter);
    -moz-filter: var(--iframe-filter);
    -ms-filter: var(--iframe-filter);
    -o-filter: var(--iframe-filter);
    filter: var(--iframe-filter);
}

.w3l-contact-10 form.signin-form,
.w3l-contact-10 .map-content-5 {
    margin: 0 auto;
    max-width: 1100px;
}

.w3l-contact-10 .form-inner-cont input,
.w3l-contact-10 .form-inner-cont textarea {
    outline: none;
    width: 100%;
    font-family: inherit;
    text-align: left;
    -webkit-appearance: none;
    display: grid;
    grid-template-columns: .1fr 1fr;
    align-items: center;
    border-radius: var(--border-radius);
    min-height: 60px;
    padding: 13px 20px;
    border: 1px solid var(--border-color-light);
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    color: var(--heading-color);
    background-color: var(--bg-lightgrey);
}

.w3l-contact-10 .form-inner-cont textarea {
    height: 125px;
    resize: none;
    padding: 13px 20px;
    margin: 25px 0px;
    display: grid;
    grid-template-columns: .1fr 1fr;
    align-items: center;
    padding-left: 15px;
    border: 1px solid var(--border-color-light);
    border-radius: var(--border-radius);
    background-color: var(--bg-lightgrey);
}

.w3l-contact-10 .form-inner-cont input:focus,
.w3l-contact-10 .form-inner-cont textarea:focus {
    border: 1px solid var(--primary-color);
    background: var(--bg-color);
}

.w3l-contact-10 .form-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.w3-submit {
    text-align: right;
}

.w3l-contact-10 .address-grid h6 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-top: 12px;
    font-weight: 600;
}

.map-content-5 {
    position: absolute;
    right: 10%;
    top: 20%;
    background: var(--bg-color);
    border-radius: var(--border-radius);
    padding: 40px;
}

h4.title-w3l-adinf {
    font-size: 20px;
}

.map-content-5 .address-grid {
    display: flex;
}

.w3l-contact-10 .address-grid h4 a:hover {
    opacity: 0.85;
}

.w3l-contact-10 .address-grid p {
    margin-top: 10px;
}

.w3l-contact-10 .address-grid a {
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
    display: block;
}

.address-grid p a {
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
    display: block;
}

.address-grid i {
color: var(--primary-color);
    margin-right: 4px;
    font-size: 16px;
    line-height: 34px;
    width: 28px;
    height: 28px;
}

.w3l-contact-10 .address-grid a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

@media all and (max-width: 991px) {
    .w3l-contact-10 .contacts-sub-5 iframe {
        height: 350px;
    }
}

@media all and (max-width: 736px) {
    .w3l-contact-10 .form-grids {
        grid-template-columns: 1fr;
        grid-gap: 18px;
    }

    .w3l-contact-10 .contact-type {
        grid-template-columns: 1fr;
    }
}

@media all and (max-width:640px) {
    .w3l-contact-10 .form-inner-cont h3 {
        font-size: 40px;
        margin-bottom: 30px;
    }
}

@media all and (max-width: 590px) {
    .contacts-sub-5 iframe {
        width: 100%;
        height: 430px;
    }

    .map-content-5 {
        position: absolute;
        right: 10%;
        top: 15%;
        padding: 30px;
        left: 10%;
    }
}

@media all and (max-width: 415px) {}
/* Contact */