/* Import Google font - Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

/* Header */
.header {
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
}

.nav {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.nav,
.nav_item {
  display: flex;
  height: 125%;
  align-items: center;
  justify-content: space-between;
}

.nav_logo,
.nav_link,
.button {
  color: #fff;
}

.nav_logo {
  font-size: 25px;
  margin-right: 10px;
}

.nav_item {
  column-gap: 25px;
  padding-bottom: 0;
  font-size: 18px;
}

.button {
  padding: 6px 24px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.button:active {
  transform: scale(0.98);
}
/* Header */


/* Home */
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("/images/test.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

.home h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  font-weight: 500;
  margin-bottom: 3rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.home p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 3rem;
  text-transform: none;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.home::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}

.home.show::before {
  opacity: 1;
  pointer-events: auto;
}

/* Form */
.form_container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}

.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.signup_form {
  display: none;
}

.form_container.active .signup_form {
  display: block;
}

.form_container.active .login_form {
  display: none;
}

.form_close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
}

.form_container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}

.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}

.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}

.input_box input:focus {
  border-color: #7d2ae8;
}

.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}

.input_box i.email,
.input_box i.password {
  left: 0;
}

.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color: #7d2ae8;
}

.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
}

.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_container a {
  color: #7d2ae8;
  font-size: 12px;
}

.form_container a:hover {
  text-decoration: underline;
}

.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
}

.checkbox input {
  accent-color: #7d2ae8;
}

.checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: #0b0217;
}

.form_container .button {
  background: #7d2ae8;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
}

.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}
/* Form */

/* Contact */
.contacts-sub-5 iframe {
    width: 100%;
    height: 540px;
    display: block;
    -webkit-filter: var(--iframe-filter);
    -moz-filter: var(--iframe-filter);
    -ms-filter: var(--iframe-filter);
    -o-filter: var(--iframe-filter);
    filter: var(--iframe-filter);
}

.w3l-contact-10 form.signin-form,
.w3l-contact-10 .map-content-5 {
    margin: 0 auto;
    max-width: 1100px;
}

.w3l-contact-10 .form-inner-cont input,
.w3l-contact-10 .form-inner-cont textarea {
    outline: none;
    width: 100%;
    font-family: inherit;
    text-align: left;
    -webkit-appearance: none;
    display: grid;
    grid-template-columns: .1fr 1fr;
    align-items: center;
    border-radius: var(--border-radius);
    min-height: 60px;
    padding: 13px 20px;
    border: 1px solid var(--border-color-light);
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    color: var(--heading-color);
    background-color: var(--bg-lightgrey);
}

.w3l-contact-10 .form-inner-cont textarea {
    height: 125px;
    resize: none;
    padding: 13px 20px;
    margin: 25px 0px;
    display: grid;
    grid-template-columns: .1fr 1fr;
    align-items: center;
    padding-left: 15px;
    border: 1px solid var(--border-color-light);
    border-radius: var(--border-radius);
    background-color: var(--bg-lightgrey);
}

.w3l-contact-10 .form-inner-cont input:focus,
.w3l-contact-10 .form-inner-cont textarea:focus {
    border: 1px solid var(--primary-color);
    background: var(--bg-color);
}

.w3l-contact-10 .form-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.w3-submit {
    text-align: right;
}

.w3l-contact-10 .address-grid h6 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-top: 12px;
    font-weight: 600;
}

.map-content-5 {
    position: absolute;
    right: 10%;
    top: 20%;
    background: var(--bg-color);
    border-radius: var(--border-radius);
    padding: 40px;
}

h4.title-w3l-adinf {
    font-size: 20px;
}

.map-content-5 .address-grid {
    display: flex;
}

.w3l-contact-10 .address-grid h4 a:hover {
    opacity: 0.85;
}

.w3l-contact-10 .address-grid p {
    margin-top: 10px;
}

.w3l-contact-10 .address-grid a {
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
    display: block;
}

.address-grid p a {
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
    display: block;
}

.address-grid i {
color: var(--primary-color);
    margin-right: 4px;
    font-size: 16px;
    line-height: 34px;
    width: 28px;
    height: 28px;
}

.w3l-contact-10 .address-grid a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

@media all and (max-width: 991px) {
    .w3l-contact-10 .contacts-sub-5 iframe {
        height: 350px;
    }
}

@media all and (max-width: 736px) {
    .w3l-contact-10 .form-grids {
        grid-template-columns: 1fr;
        grid-gap: 18px;
    }

    .w3l-contact-10 .contact-type {
        grid-template-columns: 1fr;
    }
}

@media all and (max-width:640px) {
    .w3l-contact-10 .form-inner-cont h3 {
        font-size: 40px;
        margin-bottom: 30px;
    }
}

@media all and (max-width: 590px) {
    .contacts-sub-5 iframe {
        width: 100%;
        height: 430px;
    }

    .map-content-5 {
        position: absolute;
        right: 10%;
        top: 15%;
        padding: 30px;
        left: 10%;
    }
}

@media all and (max-width: 415px) {}
/* Contact */