:root {
	--bs-blue: #0d6efd;
	--bs-indigo: #6610f2;
	--bs-purple: #6f42c1 --bs-pink: #d63384;
	--bs-red: #dc3545;
	--bs-orange: #fd7e14;
	--bs-yellow: #ffc107;
	--bs-green: #198754;
	--bs-teal: #20c997;
	--bs-cyan: #0dcaf0;
	--bs-white: #fff;
	--bs-gray: #6c757d;
	--bs-gray-dark: #343a40;
	--bs-primary: #0d6efd;
	--bs-secondary: #6c757d;
	--bs-success: #198754;
	--bs-info: #0dcaf0;
	--bs-warning: #ffc107;
	--bs-danger: #dc3545;
	--bs-light: #f8f9fa;
	--bs-dark: #212529;
	--bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0))
}

*,
::after,
::before {
	box-sizing: border-box
}

@media (prefers-reduced-motion:no-preference) {
	:root {
		scroll-behavior: smooth
	}
}

body {
	margin: 0;
	font-family: 'Sarabun', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent
}

hr {
	margin: 1rem 0;
	color: inherit;
	background-color: currentColor;
	border: 0;
	opacity: .25
}

hr:not([size]) {
	height: 1px
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: .5rem;
	font-weight: 700;
	line-height: 1.2
}

.h1,
h1 {
	font-size: calc(1.375rem + 1.5vw)
}

@media (min-width:1200px) {

	.h1,
	h1 {
		font-size: 2.5rem
	}
}

.h2,
h2 {
	font-size: calc(1.325rem + .9vw)
}

@media (min-width:1200px) {

	.h2,
	h2 {
		font-size: 2rem
	}
}

.h3,
h3 {
	font-size: calc(1.3rem + .6vw)
}

@media (min-width:1200px) {

	.h3,
	h3 {
		font-size: 1.75rem
	}
}

.h4,
h4 {
	font-size: calc(1.275rem + .3vw)
}

@media (min-width:1200px) {

	.h4,
	h4 {
		font-size: 1.5rem
	}
}

.h5,
h5 {
	font-size: 1.25rem
}

.h6,
h6 {
	font-size: 1rem
}

p {
	margin-top: 0;
	margin-bottom: 1rem
}

abbr[data-bs-original-title],
abbr[title] {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
	cursor: help;
	-webkit-text-decoration-skip-ink: none;
	text-decoration-skip-ink: none
}

address {
	margin-bottom: 1rem;
	font-style: normal;
	line-height: inherit
}

ol,
ul {
	padding-left: 2rem
}

dl,
ol,
ul {
	margin-top: 0;
	margin-bottom: 1rem
}

ol ol,
ol ul,
ul ol,
ul ul {
	margin-bottom: 0
}

dt {
	font-weight: 700
}

dd {
	margin-bottom: .5rem;
	margin-left: 0
}

blockquote {
	margin: 0 0 1rem
}

b,
strong {
	font-weight: bolder
}

.small,
small {
	font-size: .875em
}

.mark,
mark {
	padding: .2em;
	background-color: #fcf8e3
}

sub,
sup {
	position: relative;
	font-size: .75em;
	line-height: 0;
	vertical-align: baseline
}

sub {
	bottom: -.25em
}

sup {
	top: -.5em
}

a {
	color: var(--primary-color);
	/* text-decoration: underline; */
}

a:hover {
	color: var(--primary-color);
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
	color: inherit;
	text-decoration: none
}

code,
kbd,
pre,
samp {
	font-family: 'Sarabun', sans-serif;
	font-size: 1em;
	direction: ltr;
	unicode-bidi: bidi-override
}

pre {
	display: block;
	margin-top: 0;
	margin-bottom: 1rem;
	overflow: auto;
	font-size: .875em
}

pre code {
	font-size: inherit;
	color: inherit;
	word-break: normal
}

code {
	font-size: .875em;
	color: #d63384;
	word-wrap: break-word
}

a>code {
	color: inherit
}

kbd {
	padding: .2rem .4rem;
	font-size: .875em;
	color: #fff;
	background-color: #212529;
	border-radius: .2rem
}

kbd kbd {
	padding: 0;
	font-size: 1em;
	font-weight: 700
}

figure {
	margin: 0 0 1rem
}

img,
svg {
	vertical-align: middle
}

table {
	caption-side: bottom;
	border-collapse: collapse
}

caption {
	padding-top: .5rem;
	padding-bottom: .5rem;
	color: #6c757d;
	text-align: left
}

th {
	text-align: inherit;
	text-align: -webkit-match-parent
}

tbody,
td,
tfoot,
th,
thead,
tr {
	border-color: inherit;
	border-style: solid;
	border-width: 0
}

label {
	display: inline-block
}

button {
	border-radius: 0
}

button:focus:not(:focus-visible) {
	outline: 0
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font-family: 'Sarabun', sans-serif;
	font-size: inherit;
	line-height: inherit
}

button,
select {
	text-transform: none
}

[role=button] {
	cursor: pointer
}

select {
	word-wrap: normal
}

select:disabled {
	opacity: 1
}

[list]::-webkit-calendar-picker-indicator {
	display: none
}

[type=button],
[type=reset],
[type=submit],
button {
	-webkit-appearance: button
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
	cursor: pointer
}

::-moz-focus-inner {
	padding: 0;
	border-style: none
}

textarea {
	resize: vertical
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0
}

legend {
	float: left;
	width: 100%;
	padding: 0;
	margin-bottom: .5rem;
	font-size: calc(1.275rem + .3vw);
	line-height: inherit
}

@media (min-width:1200px) {
	legend {
		font-size: 1.5rem
	}
}

legend+* {
	clear: left
}

::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field {
	padding: 0
}

::-webkit-inner-spin-button {
	height: auto
}

[type=search] {
	outline-offset: -2px;
	-webkit-appearance: textfield
}

::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-color-swatch-wrapper {
	padding: 0
}

::file-selector-button {
	font: inherit
}

::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button
}

output {
	display: inline-block
}

iframe {
	border: 0
}

summary {
	display: list-item;
	cursor: pointer
}

progress {
	vertical-align: baseline
}

[hidden] {
	display: none !important
}

.lead {
	font-size: 1.25rem;
	font-weight: 300
}

.display-1 {
	font-size: calc(1.625rem + 4.5vw);
	font-weight: 300;
	line-height: 1.2
}

@media (min-width:1200px) {
	.display-1 {
		font-size: 5rem
	}
}

.display-2 {
	font-size: calc(1.575rem + 3.9vw);
	font-weight: 300;
	line-height: 1.2
}

@media (min-width:1200px) {
	.display-2 {
		font-size: 4.5rem
	}
}

.display-3 {
	font-size: calc(1.525rem + 3.3vw);
	font-weight: 300;
	line-height: 1.2
}

@media (min-width:1200px) {
	.display-3 {
		font-size: 4rem
	}
}

.display-4 {
	font-size: calc(1.475rem + 2.7vw);
	font-weight: 300;
	line-height: 1.2
}

@media (min-width:1200px) {
	.display-4 {
		font-size: 3.5rem
	}
}

.display-5 {
	font-size: calc(1.425rem + 2.1vw);
	font-weight: 300;
	line-height: 1.2
}

@media (min-width:1200px) {
	.display-5 {
		font-size: 3rem
	}
}

.display-6 {
	font-size: calc(1.375rem + 1.5vw);
	font-weight: 300;
	line-height: 1.2
}

@media (min-width:1200px) {
	.display-6 {
		font-size: 2.5rem
	}
}

.list-unstyled {
	padding-left: 0;
	list-style: none
}

.list-inline {
	padding-left: 0;
	list-style: none
}

.list-inline-item {
	display: inline-block
}

.list-inline-item:not(:last-child) {
	margin-right: .5rem
}

.initialism {
	font-size: .875em;
	text-transform: uppercase
}

.blockquote {
	margin-bottom: 1rem;
	font-size: 1.25rem
}

.blockquote> :last-child {
	margin-bottom: 0
}

.blockquote-footer {
	margin-top: -1rem;
	margin-bottom: 1rem;
	font-size: .875em;
	color: #6c757d
}

.blockquote-footer::before {
	content: "— "
}


/* header */
header {
	background-color: transparent;
	padding: 0;
	transition: all 0.4s ease 0s;
	height: 90px;
	display: grid;
	align-items: center;
	/* box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05); */
}

header.nav-fixed {
	padding: 0;
	background-color: var(--bg-color);
	height: 80px;
	border-bottom: none;
	box-shadow: 0 25px 98px 0 rgb(7 6 8 / 7%);
	z-index: 10 !important;
	/* for z-index:10 to display gallery popup */
}

.navbar .navbar-brand {
	margin: 0;
	padding: 0;
	font-size: 32px;
	font-weight: 700;
	text-transform: capitalize;
	color: rgba(0, 0, 0, .55);
	margin: 0;
}

span.sub-color {
	color: var(--primary-color);
}

.navbar .navbar-brand i {
	font-weight: 900;
	color: var(--primary-color);
}

.navbar h1 {
	line-height: 0;
}

.navbar .navbar-brand img {
	max-width: 140px;
	transition: all 0.5s ease;
}

.navbar-nav .nav-item {
	padding: 0 12px;
	transition: all 0.5s ease;
	position: relative;
}

.navbar-nav .nav-link:focus {
	color: var(--primary-color);
}

.navbar-expand-lg .navbar-nav .show>.nav-link,
.navbar-expand-lg .navbar-nav .active>.nav-link,
.navbar-expand-lg .navbar-nav .nav-link.show,
.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-expand-lg .navbar-nav .nav-link:hover {
	color: var(--primary-color);
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
	transition: all .5s;
}

.navbar-expand-lg .navbar-nav .nav-link {
	transition: all 0.5s ease;
	padding: 10px 0 10px;
	font-size: 16px;
	font-weight: 600;
	/* color: #fff; */
	position: relative;
	opacity: .9;
	text-transform: capitalize;
}

.navbar-expand-lg .navbar-nav .nav-link span.fa.fa-angle-down {
	vertical-align: middle;
}

.navbar-nav .dropdown-menu li {
	position: relative;
}


a.dropdown-item {
	font-weight: 600;
	font-size: 1em;
	position: relative;
	color: var(--heading-color);
	padding-top: 0;
	display: block;
	padding-bottom: 14px;
	text-transform: capitalize;
}

a.dropdown-item:hover {
	color: var(--primary-color);
	background: none;
}

a.dropdown-item.active {
	background: transparent;
	color: var(--primary-color);
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
	transform: translateX(-30px);
	background: var(--bg-color);
	border: 1px solid var(--border-color-light);
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
	content: '';
	width: 14px;
	height: 14px;
	background: var(--bg-color);
	border: 1px solid var(--border-color-light);
	display: block;
	border-right: none;
	border-bottom: none;
	transform: translateX(-50%) rotateZ(45deg);
	position: absolute;
	top: -7px;
	left: 49%;
	z-index: 1001;
}


.dropdown-toggle::after {
	display: none;
}

/* header */

/*--/slider--*/
.w3lmain-gap {
    height: 90px;
}

/*--/banner--*/
.w3l-main-slider li {
    list-style-type: none;
}

.w3l-main-slider .banner-slider {
    position: relative;
    z-index: 1;
}

.w3l-main-slider .slider-info a img {
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
}

.w3l-main-slider .companies20-content {
    position: relative;
}

.w3l-main-slider .banner-view {
    background: url(../images/cover.jpg) no-repeat center;
    -ms-background-size: cover;
    background-size: cover;
    z-index: 0;
    position: relative;
    display: grid;
    align-items: center;
    min-height: 740px;
    background-size: cover;
}

.w3l-main-slider .banner-view:before {
    content: "";
    background: var(--layer);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.w3l-main-slider .header-hero-19 {
    max-width: 680px;
    margin: 0 auto;
    text-align: center;
}

.w3l-main-slider h3.title-hero-19 {
    font-size: 66px;
    line-height: 76px;
    color: #ffffff;
    font-weight: 700;
    margin: 10px 0 20px;
    text-shadow: rgb(0 0 0) 0px 0px 0px;
    text-transform: capitalize;
}

.w3l-main-slider h5 {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;
}

p.w3hny-tag {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.89;
    letter-spacing: 0.77px;
}

.banner-slider {
    position: relative;
}

p.w3ban-para {
    color: #fff;
    opacity: 0.9;
    font-size: 18px;
}

@media (max-width: 1440px) {
}

@media (max-width: 1080px) {
    .w3l-main-slider h3.title-hero-19 {
        font-size: 40px;
        line-height: 50px;
    }

    .w3l-main-slider .banner-view,
    .w3l-main-slider .banner-top1,
    .w3l-main-slider .banner-top2,
    .w3l-main-slider .banner-top3,
    .w3l-main-slider .banner-top4 {
        min-height: 600px;
    }
}

@media (max-width: 1050px) {
}

@media (max-width: 1024px) {
    .w3l-main-slider h3.title-hero-19 {
        font-size: 36px;
        line-height: 46px;
        margin: 10px 0 5px;
    }
}

@media (max-width: 992px) {
    p.w3hny-tag {
        line-height: 18px;
    }

    .w3l-main-slider .header-hero-19 {
        max-width: 600px;
        margin: 0;
        text-align: left;
        margin-top: 3em;
    }
}

@media (max-width: 800px) {

    .w3l-main-slider .inner-banner,
    .w3l-main-slider .inner-layer {
        min-height: 200px;
    }
}

@media (max-width: 736px) {
    .w3l-main-slider ul.nav-links li a.link-nav {
        display: block;
    }
}

@media (max-width: 667px) {
    .w3l-main-slider .mai-hero-19 {
        grid-gap: 10px;
    }

    p.w3ban-para {
        font-size: 16px;
    }

    .w3l-main-slider .banner-view,
    .w3l-main-slider .banner-top1,
    .w3l-main-slider .banner-top2,
    .w3l-main-slider .banner-top3,
    .w3l-main-slider .banner-top4 {
        min-height: 460px;
    }

    .w3l-main-slider h5 {
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 1px;
    }

    .w3l-stats-section.stats-con {
        position: static;
        padding: 20px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        width: 330px;
    }
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
    .w3l-main-slider h3.title-hero-19 {
        font-size: 32px;
        line-height: 42px;
    }

    .w3l-stats-section.stats-con {
        width: 300px;
    }

    span.w3-xtrap {
        display: none;
    }
}

@media (max-width: 440px) {
}

@media (max-width: 387px) {

    .w3l-main-slider .banner-view,
    .w3l-main-slider .banner-top1,
    .w3l-main-slider .banner-top2,
    .w3l-main-slider .banner-top3,
    .w3l-main-slider .banner-top4,
    .w3l-main-slider .banner-top5,
    .w3l-main-slider .banner-top6 {
        min-height: 440px;
    }
}

@media (max-width: 320px) {
    .w3l-main-slider .banner h3 {
        font-size: 26px;
        line-height: 36px;
    }
}
